    ## Common stuff

In [39]:
x = 2000
y = 3000
print(x + y)

5000

In [4]:
%store -r list1

list1[::-1]

[9, 7, 6, 5, 3, 2, 1]

    ## Dictionary

In [9]:
import string

In [10]:
letter_list1 = list(string.ascii_lowercase)
print(letter_list1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [11]:
letter_list2 = list(string.ascii_uppercase)
print(letter_list2)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [12]:
letter_dict = {letter_list1[indx]:letter_list2[indx] for indx in range(0,len(letter_list1))}
print(letter_dict)




letter_dict = {}
indx = 0
for k in letter_list1:
    v = letter_list2[indx]
    letter_dict[k] = v
    indx += 1
print(letter_dict)

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F', 'g': 'G', 'h': 'H', 'i': 'I', 'j': 'J', 'k': 'K', 'l': 'L', 'm': 'M', 'n': 'N', 'o': 'O', 'p': 'P', 'q': 'Q', 'r': 'R', 's': 'S', 't': 'T', 'u': 'U', 'v': 'V', 'w': 'W', 'x': 'X', 'y': 'Y', 'z': 'Z'}
{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F', 'g': 'G', 'h': 'H', 'i': 'I', 'j': 'J', 'k': 'K', 'l': 'L', 'm': 'M', 'n': 'N', 'o': 'O', 'p': 'P', 'q': 'Q', 'r': 'R', 's': 'S', 't': 'T', 'u': 'U', 'v': 'V', 'w': 'W', 'x': 'X', 'y': 'Y', 'z': 'Z'}

In [13]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [31]:
# Format Method to extract output from dictionaries in list:

customers = [
{'id':'Cust-001', 'Cust_name':'Joe', 'order':'ChocCake', 'phone':'123456'},
{'id':'Cust-002', 'Cust_name':'Pat', 'order':'CupCakes', 'phone':'Nil'},
{'id':'Cust-003', 'Cust_name':'Jill', 'order':'Scones', 'phone':'546789'},
{'id':'Cust-004', 'Cust_name':'Jack',  'order':'Bagels','phone':'456789'},
]

## 1. print heading row using format function:
### !! free to define a length, counted from end of previous item.
width = '{0:10}'
heading = {"Cust-id": "001", "Name":"Joe", "order":"Cake", "Phone": "123456"}
for head in heading: 
        print('{0:10}'.format(head), end=' ')

## 2 define a function to extract any designated key (phone here) from each dictionary:
### !! this is equal to unnamed function = lambda dict: dict.get('phone')
def ele_sort (dict):
    return dict.get('phone') 

## 3 here use the simpler lambda function after 'key =':
### !! here the 'key =' is a thing in sorted() function, not the key in dictionary.
customer_phones = sorted(customers, key = lambda dict: dict.get('phone'))

## 4 choose to check the sorted list(with dictionaries in it)
## print(customer_phones)

## 5 print the out using format function
### !! 'customer_phones' can be replaced by ##3 in one line. 
print('')
for customer in customer_phones:
    print(width.format(customer['id']), width.format(customer['Cust_name']),
      width.format(customer['order']),width.format(customer['phone']))

Cust-id    Name       order      Phone
Cust-001   Joe        ChocCake   123456
Cust-004   Jack       Bagels     456789
Cust-003   Jill       Scones     546789
Cust-002   Pat        CupCakes   Nil

In [35]:
list_names = [dict(
    first_name = 'Jayden', 
    last_name = 'LI', 
    title = 'GA student',
    gender = 'M',
    location = 'Sydney'),
    dict(first_name = 'Poli', 
    last_name = 'Moraes', 
    title = 'GA student',
    gender = 'F',
    location = 'Sydney')]

for student in sorted(list_names,key = lambda x: x.get('last_name'),reverse=True):
        print(width.format(student['first_name']), width.format(student['last_name']),
      width.format(student['title']),width.format(student['gender'],width.format(student['location'])))

Poli       Moraes     GA student F
Jayden     LI         GA student M

In [28]:
# Function to retrieve information from dicts in a list

list_names = [dict(
    first_name = 'Jayden', 
    last_name = 'LI', 
    title = 'GA student',
    gender = 'M',
    location = 'Sydney'),
    dict(first_name = 'Poli', 
    last_name = 'Moraes', 
    title = 'GA student',
    gender = 'F',
    location = 'Sydney')]

# def name_function (list):
#     for dicts in list:
#         if dicts['gender'] == 'M':
#             he_or_she = 'he'
#         elif dicts['gender'] == 'F':
#             he_or_she = 'she'
#         print (f"This is {dicts['first_name']} {dicts['last_name']}, {he_or_she} is a {dicts['title']}!")

# name_function(list_names)

width = '{0:10}'
for person in list_names:
    print(width.format(person['first_name']),width.format(person['last_name']),width.format(person['title']))

Jayden     LI         GA student
Poli       Moraes     GA student

In [47]:
# find value with a key: .get('key', 'alt phrase if not found')
# find key with a value: .items(), example:

## Simple form:
keys = [k for k, v in my_dict.items() if v == 1]
print(keys)


## Create a function
my_dict ={"John":1, "Michael":2, "Shawn":3}
def get_key(val):
    for key, value in my_dict.items():
         if val == value:
             return key
 
    return "There is no such Key"
   
print(get_key(1))
print(get_key(2))

['John']
John
Michael

    ## Funcations

In [14]:
def greeting():
    print('Welcome!')

greeting()

Welcome!

In [15]:
def get_total_price (list_price, tax_rate):
    total_price = list_price * (1 + tax_rate)
    return total_price

get_total_price(100,0.1)

110.00000000000001

In [18]:
# print(
#     get_total_price(
#         float(input(
#             ("What is the list price?"))),
#         float(input(
#             ("What is the tax rate?")),
# )))

110.00000000000001

In [19]:
def ad_num (num1, num2):
    num_sum = num1 + num2
    return num_sum

In [43]:
# Function 'add_list' to add values in two numerical lists:

list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10,11,12,13,14,15]

def add_list (listx, listy):
    added_list = []
    for indx in range(len(listx)):
        added_sum = ad_num(
            listx[indx],listy[indx])
        added_list.append(added_sum)
    print(added_list)
    
add_list(list1,list2)

[8, 10, 12, 14, 16, 18]

In [24]:
for indx in range(len(list1)):
    added_sum = ad_num(
        list1[indx],list2[indx])
    print(added_sum)

8
10
12
14
16
18

In [25]:
def mystery_function (list_to_check, value):
    for i in range(len(list_to_check)):
        if(list_to_check[i]==value):
            return i
    return 'Number Not Found'

In [26]:
mystery_function(list1,20)

'Number Not Found'

    ## Pseudocode for a new employee

In [27]:
'''
new_joinee_function()
    * go to gmail
    * login
    * check inbox
    * copy the job number
    * open ERP system
    * login
    * register client information
    * register estimated time and expense
     
'''

'\nnew_joinee_function()\n    * go to gmail\n    * login\n    * check inbox\n    * copy the job number\n    * open ERP system\n    * login\n    * register client information\n    * register estimated time and expense\n     \n'

In [28]:
# Count characters including spaces in a string, find max/min

countlist = list('13 4 5 6 1 12230')
while " " in countlist:
    countlist.remove(" ")
print(countlist)
print(len(countlist)) # count characters 
print(max(countlist)) # find the max
print(min(countlist)) # find the min

['1', '3', '4', '5', '6', '1', '1', '2', '2', '3', '0']
11
6
0

    ## functions

In [17]:
# Convert F and C
'''
def temp_convert():
    
    choice = input("Covert Celius to Fah press F, or Fah to Celcius press C, or to exit X").lower()
    while choice not in ("c","f","x"):
        choice = input("Invalid Value.\nCovert Celius to Fah press F, or Fah to Celcius press C, or to exit X.").lower()
    if choice == "c":
        t = int(input("Please enter Fah Value: "))
        print(f"{t} fahrenheit is {(t-32)*5/9} Celsius.")
    elif choice == "f":
        t = int(input("Please enter Cel value: "))
        print(f"{t} Celsius is {(t*1.8)+32} Fahrenheit.")
    elif choice == "x":
        exit("Sorry to see you go, bye~")
        

temp_convert()
'''

'\ndef temp_convert():\n    \n    choice = input("Covert Celius to Fah press F, or Fah to Celcius press C, or to exit X").lower()\n    while choice not in ("c","f","x"):\n        choice = input("Invalid Value.\nCovert Celius to Fah press F, or Fah to Celcius press C, or to exit X.").lower()\n    if choice == "c":\n        t = int(input("Please enter Fah Value: "))\n        print(f"{t} fahrenheit is {(t-32)*5/9} Celsius.")\n    elif choice == "f":\n        t = int(input("Please enter Cel value: "))\n        print(f"{t} Celsius is {(t*1.8)+32} Fahrenheit.")\n    elif choice == "x":\n        exit("Sorry to see you go, bye~")\n        \n\ntemp_convert()\n'

    ## file to python

In [29]:
## Create a txt. file in same directory:

with open("./Testing_creat_txt.txt","a+") as test_txt_file:
    print("Welcome, here's the file contents:")
    test_txt_file.seek(0)
    lines = test_txt_file.readlines()
    for line in lines:
        print(line)

Welcome, here's the file contents:
This is testing to create a file.

Try to write down something here:

In [12]:
response_code = 600
int(str(response_code)[0])

6

In [13]:
import os
os.getcwd()

'f:\\李振寰\\进修 PC\\TAFE NSW Python\\Coding Drafts'

In [1]:
import pandas as pd

In [19]:
df_orders = pd.read_csv(r'f:\\李振寰\\进修 PC\\TAFE NSW Python\\Coding Drafts\\orders.csv',sep=',')

In [16]:
pd.read_csv('.\orders.csv')

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1826.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999986,ZI-2020-495856,2020-01-04,2020-01-09,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
999987,ZI-2020-5409624,2020-01-13,2020-01-18,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
999988,ZI-2020-5478741,2020-01-10,2020-01-10,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
999989,ZI-2020-5986855,2020-01-08,2020-01-11,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0
999990,ZI-2020-863102,2020-01-22,2020-01-27,Standard Class,JM-5250,FUR-SAF-10002314,49.65,1,0.22,0.14,77095.0,1488.0

In [22]:
type(df_orders)

pandas.core.frame.DataFrame

In [21]:
df_orders.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0