### Variables

In [1]:
x = 10

In [2]:
x

10

In [3]:
string1 = "Hello World"

In [4]:
string2 = " is beautiful."

In [5]:
sentence1 = string1 + string2

In [6]:
print(sentence1)

Hello World is beautiful.

In [7]:
sales1 = 1000

In [8]:
sales2 = 1,000,000

In [9]:
print(sales2,sales1)

(1, 0, 0) 1000

In [10]:
dict(enumerate(string1))

{0: 'H',
 1: 'e',
 2: 'l',
 3: 'l',
 4: 'o',
 5: ' ',
 6: 'W',
 7: 'o',
 8: 'r',
 9: 'l',
 10: 'd'}

In [11]:
list(enumerate(string1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

### DATA TYPES
    ## Strings

In [12]:
string3 = 'Hello World '

In [13]:
#properies, functions, methods

#Capitalize
string3.capitalize()

'Hello world '

In [14]:
#Upper case
string3.upper()

'HELLO WORLD '

In [15]:
#Strip blanks
string3.strip()

'Hello World'

In [16]:
#Right strip
string3.rstrip().upper()

'HELLO WORLD'

In [17]:
#Count occurance
string3.count('l', 3)

2

In [18]:
# Word count - split by space
string4 = 'ha ha ha ha ha ha'
print(string4.split())
print(len(string4.split()))

['ha', 'ha', 'ha', 'ha', 'ha', 'ha']
6

In [19]:
# Word count - split by comma
string5 = 'ha,ha,ha,ha ha ha'
print(string5.split(','))
print(len(string5.split(',')))

['ha', 'ha', 'ha', 'ha ha ha']
4

In [20]:
# Find str location
string1.find('Wo')

6

In [21]:
# Index str location
string1.index('Wo')

6

In [22]:
# Check type
type(string1)

str

In [23]:
# Empty value is str
string6 = ''
type(string6)
print(string6)

In [24]:
# String concatenation
message1 = string1 + ', ' + string5 + '!'
print(message1)

Hello World, ha,ha,ha,ha ha ha!

    # list

In [25]:
# Create list
list1 = [1,2,3,4,5]
print(type(list1))
print(list1)

<class 'list'>
[1, 2, 3, 4, 5]

In [26]:
# Create empty list
list2 = list()
print(list2)

[]

In [27]:
# Create with contents
list3 = list('abcdefg')
print(list3)
list1 = list(range(1,7))
print(list1)
list1 = list(range(7))
print(list1)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]

In [28]:
# Adding a value to the list

list1.append(8)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 8]

In [29]:
# Delete a value in the list
list1.pop(3)
print(list1)

[0, 1, 2, 4, 5, 6, 8]

In [30]:
# Extend a list
list1.extend(list3)
print(list1)

[0, 1, 2, 4, 5, 6, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [31]:
# Sort a list
list3.sort(reverse=True)
print(list3)

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [32]:
# Reverse a list
list1.reverse()
print(list1)

['g', 'f', 'e', 'd', 'c', 'b', 'a', 8, 6, 5, 4, 2, 1, 0]

In [33]:
# Copy a list
list1_copy = list1.copy()
print(list1_copy)

['g', 'f', 'e', 'd', 'c', 'b', 'a', 8, 6, 5, 4, 2, 1, 0]

In [34]:
# Delete ranges in a list

del list1_copy[0:7]
print(list1_copy)

[8, 6, 5, 4, 2, 1, 0]

In [35]:
# Retrieve every x values:
list1[::2]

['g', 'e', 'c', 'a', 6, 4, 1]

In [36]:
# Retrieve begins from/ends by
list1[2:-1]

['e', 'd', 'c', 'b', 'a', 8, 6, 5, 4, 2, 1]

    # dictionary

In [37]:
# Create a dictionary
dict1 = {'a':1,'b':2,'c':3,'d':4}
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [38]:
# Create a dictionary by joining two lists
dict2 = dict(zip(list1_copy,list3))
print(dict2)

{8: 'g', 6: 'f', 5: 'e', 4: 'd', 2: 'c', 1: 'b', 0: 'a'}

In [39]:
# Retrieve a value from a dictionary
dict2[2]

'c'

In [40]:
# retrieve all values from a dictionary
dict2.values()

dict_values(['g', 'f', 'e', 'd', 'c', 'b', 'a'])

In [41]:
# retrieve items
dict2.items()

dict_items([(8, 'g'), (6, 'f'), (5, 'e'), (4, 'd'), (2, 'c'), (1, 'b'), (0, 'a')])

In [60]:
# dictionary of lists

dict3 = {
    'even_nums':[2,4,6,8,10],
    'odd_nums':[1,3,5,7,9],
    }
dict3['even_nums']

[2, 4, 6, 8, 10]

In [43]:
# Retrieve key and value from a list in dictionary:

dict3['odd_nums'][3]

7

In [91]:
# Order the keys - sorted (dict)

for letter in sorted(dict1):
    print(letter.capitalize())

A
B
C
D

In [ ]:
# Deal with error/non-existing key - .get()

print(dict3.get('num','Value does not exist.'))

Value does not exist.

    ### loop in dictionary

In [66]:
# Loop - retrieve ALL values - .items() method
# 'key' and 'value' can be renamed or printed in f-function
print(dict1.items())

for key, value in dict1.items():
    print(f"\nkey:{key}")
    print(f"value:{value}")

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

key:a
value:1

key:b
value:2

key:c
value:3

key:d
value:4

In [74]:
# Loop - retrieve only KEYs - .keys() method

for value in dict1.keys():
    print(value.capitalize())

# EQUAL To 

for value in dict1:
    print(value.capitalize())

A
B
C
D
A
B
C
D

In [95]:
# Retrieve ALL VALUES 

print(dict2.values())

dict_values(['g', 'f', 'e', 'd', 'c', 'b', 'a'])

In [10]:
# loop through all values
sal_info = {'Austtin': 911985, 'Dallas':89999, 'San Jose' : 100989}

for location in sal_info:
    print(sal_info[location])
for location in sal_info:
    print(location)

911985
89999
100989
Austtin
Dallas
San Jose

AttributeError: 'dict' object has no attribute 'max'

In [ ]:
# Change values within a dictionary based on other values

aliendict = {}
aliendict['x_position'] = 0
aliendict['y_position'] = 25
aliendict['speed'] = 'slow'

if aliendict['speed'] == 'slow':
    x_increment = 1
elif aliendict['speed'] == 'medium':
    x_increment = 2
else:
    x_increment = 3

aliendict['x_position'] = aliendict['x_position'] + x_increment

print(f"The new alient psoition is: {aliendict['x_position'], aliendict['y_position']}.")

The new alient psoition is: (1, 25).

In [86]:
# Pick out KEYs and their VALUES (linking to a LIST):

favorite_languages = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
}


friends = ['phil', 'sarah']

for name in favorite_languages:
    print(f"Hi, {name.title()}!")

    if name in friends: # Whether the name is in the list
        language = favorite_languages[name].title() # define language
        print(f"I see you love {language.title()}. Could you tell me why?")
    else:
        print("What language do you like?")

Hi, Jen!
What language do you like?
Hi, Sarah!
I see you love C. Could you tell me why?
Hi, Edward!
What language do you like?
Hi, Phil!
I see you love Python. Could you tell me why?

    ### Dictionary in List

In [98]:
# Alien game - create aliens in a list, show first five:

aliens = []

for alien_number in range (30): # how many times the loop repeats
    new_alien = {'color':'green', 'points':5, 'speed':'slow'} # define element in the list with a dict.
    aliens.append(new_alien)

for alien in aliens[:5]:
    print(alien)
print("...")
print(f"The total number of aliens is {len(aliens)}")

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
The total number of aliens is 30

In [99]:
# make some changes to the dicts within the list:

for alien in aliens[:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow' # change all values for the first 3 elements
        alien['speed'] = 'medium'
        alien['points'] = 10

for alien in aliens[:5]:
    print(alien)
print("...")

{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...

    ### List in Dictionary

In [106]:
# Pizza order

pizza = {
    'crust':'thick',
    'toppings':['mushrooms','extra cheese']
}

print(f"You ordered a {pizza['crust']}-crust pizza with following toppings:")
for topping in pizza['toppings']: # print out elements in a list
    print("\t" + topping)

You ordered a thick-crust pizza with following toppings:
	mushrooms
	extra cheese

    ### Dictionary in Dictionary

In [ ]:
# 1.9 Python Librarian

authors = {
    "Arundhati Roy": {
        "genre": "literary fiction",
        "books": [
            "The God of Small Things",
            "The Ministry of Utmost Happiness"
        ],
        "active": True
    },

    "Brandon Sanderson": {
        "genre": "fantasy",
        "books": [
            "The Way of Kings",
            "Words of Radiance",
            "Oathbringer"
        ],
        "active": True,
        "phone": {
            "home": "(281) 330-8004",
            "work": "(877) CASH-NOW"
        }
    },
    
    "Kobo Abe": {
        "genre": "absurdist fiction",
        "books": [
            "The Woman in the Dunes",
            "The Face of Another"
        ],
        "active": False
    },
}

In [ ]:
authors['Arundhati Roy']['books'][0]

'The God of Small Things'

In [ ]:
authors['Kobo Abe']['active']

False

    ### Import File to Dictionary

In [9]:
# # Import csv. file to dictionary - walk through code.

# with open('treeorderssubsetnodupes.csv',mode='r') as infile:
#     reader = csv.reader(infile)
#     mydict = {}

#     for now in reader:
#         key = row[0]
#         mydict[key] = row[1]

NameError: name 'csv' is not defined

    # Tuple

In [48]:
# Tuples are immutable data types
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [49]:
# However, can be changed by re-defining it
tuple1 = (10,20)
print(tuple1)

(10, 20)

    # Set

In [50]:
# SET data type, stores only unique values. 
set1 = {1,2,2,2,3}
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3}

In [51]:
# Cross-set functions
set2 = {3,2,4,5}
set1.intersection(set2)

{2, 3}

In [52]:
# Convert list into set
list5 = [1, 2, 2, 5, 5, 8, 6, 7]
set3 = set(list5)
print(f"List5 contains: {list5}")
print(f"Set3 contains: {set3}")

List5 contains: [1, 2, 2, 5, 5, 8, 6, 7]
Set3 contains: {1, 2, 5, 6, 7, 8}

In [53]:
# Index retrival
print(list1[1])
print(set1)
print(tuple1[1])
print(dict3['even_nums'][1])

f
{1, 2, 3}
20
4

In [54]:
set1.remove(2)

### IF Statements

In [ ]:
# Example 1
value1 = 8
value2 = 8
if value1 == value2:
    print("The values are the same!")
    print(value1)

The values are the same!
8

In [ ]:
# Example 2
player1_score = 1
player2_score = 1

if player1_score == player2_score:
    print('We have a tie!')
elif player1_score > player2_score:
    print("player one won!")
else:
    print("player two won!")

We have a tie!

### Loops

In [ ]:
number = 0
while number < 10:
    number += 1
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Use for loop to create even numbers:

numbers = [1,2,3,4,5]
even_numbers = [num*2 for num in numbers]
print(even_numbers)

# Simplified version - using list comprehension
new_numbers = [number*2 for number in numbers]
print(new_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Change all numbers in a list:

list_length = len(numbers)
for i in range(list_length):
    numbers[i] = numbers[i] + 1
print(numbers)

[2, 3, 4, 5, 6]

In [ ]:
print(numbers)

for number in even_numbers:
    print(number)

[2, 3, 4, 5, 6]
2
4
6
8
10